
<nav class="navbar navbar-expand-lg bg-body-tertiary; navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Django</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{% url 'article:list' %}">Articles</a>

        <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                Add Article
              </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'article:create' %}">Add Article</a></li>
                      <hr>
                    <li><a class="dropdown-item" href="{% url 'article:create-form' %}">Add Article via form</a></li>
                  </ul>
        </li>
          <li class="nav-item ">
              <a class="nav-link " aria-current="page" href="{% url 'recipe:list' %}">Recipe</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link " aria-current="page" href="{% url 'recipe:my-list' %}">My Recipe</a>
          </li>

      </div>
    </div>
      <div class="d-flex gap-2 align-items-center">
          {% if request.user.is_authenticated %}
          <h3>{{ request.user.username }} |</h3>
            <a href="{% url 'auth:logout' %}" class="btn btn-outline-danger">Logout</a>
           {% else %}
              <a href="{% url 'auth:login' %}" class="btn btn-outline-success btn-lg">Login</a>
            {% endif %}
      </div>
  </div>
</nav>